@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
    margin: 0;
    text-align: center;
}

header {
    background-color: seashell;
    color: blue;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: orange;
    margin: none;
    font-weight: bold;
}

.conteudo {
    background-color:rgb(255, 0, 0);
    margin: 30px;
    padding: 20px;
    border-radius: 10;
}
.conteudo h1 {
    color:gold;
}

p.emoji::after {
    content: "😎";
    color: aqua;
}

p.emojifrutas::after {
    content: "🍇🍊🍏🥝🥥";
}
p.emoji::before {
    content: "E";
}
p.emoji::first-letter {
    font-size: 40px;
}

.controle {
    background-color:green;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    text-align: center;
}
.controle h1 {
    color:greenyellow;
}

.seila {
    background-color: pink;
}

.seila h1 {
    color:deeppink;
}

footer {
    background-color:cornflowerblue;
    color: red;
    padding: 15px;
}

h1 {
    color: purple;
}

p {
    font-size: 18px;
}

.card{
    display: flex;
    background-color: blue;
    border: 1px solid orange;
    text-align: center;
    width: 1055px;
    height: 530px;
    padding: 20px;
}
.minecraft{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.roblox{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}