@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
    margin: 0;
    text-align: center;
}

header {
    background-color: seashell;
    color: blue;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: orange;
    margin: none;
    font-weight: bold;
}

.conteudo {
    background-color:rgb(255, 0, 0);
    margin: 30px;
    padding: 20px;
    border-radius: 10;
}
.conteudo h1 {
    color:gold;
}

.controle {
    background-color:green;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    text-align: center;
}
.controle h1 {
    color:greenyellow;
}

.seila {
    background-color: pink;
}

.seila h1 {
    color:deeppink;
}

footer {
    background-color:cornflowerblue;
    color: red;
    padding: 15px;
}

h1 {
    color: purple;
}

p {
    font-size: 18px;
}