body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(33, 32, 32);
    margin: 0;
}

/*Primeira parte do Site, onde mostra a imagem da mojang e o título.*/
.mojang {
    font-family: Arial, Helvetica, sans-serif;   
    display: flex;
    background-color:rgb(79, 201, 79);
    padding: 80px;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 0 50px;  
    background: linear-gradient(to right, rgb(227, 117, 117), rgb(203, 48, 48), rgb(188, 0, 0));
}

.mojang img {
    display: block;
    height: 300px;
    width: 30%;
    margin-left: 20px;
}

div h1 {
    margin: 0;
    font-size: 50px;
}

div p {
    margin: 0;
    text-align: center;
}

.descricaom::first-letter {
    font-size: 90px;
}
/*-------------------------------------------------------------------------------*/


.separar {
    background-color: rgb(146, 0, 0);
    color: gray;
    height: 10px;
}


/*--------------Parte do Minecraft-------------------------------------------------------*/
.mine {
    background-color: rgb(33, 32, 32);
    height: 900px;
    margin: 20px;
    padding: 20px;
}

.mine h1 {
    color: silver;
}

.mine p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}

.mine img {
    height: 600px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------------------------*/





/*------------------------------Parte do Scrolls------------------------------------*/
.scrolls {
    background-color: rgb(33, 32, 32);
    min-height: 900px;
    margin: 20px;
    padding: 20px;
}
.scrolls h1 {
    color: silver;
}
.scrolls p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}
.scrolls img {
    height: 450px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------------------------------------------------*/


.separar2 {
    background-color: gray;
    color: gray;
    height: 10px;
}


/*--------------------------Parte Minecraft: Story Mode------------------------------*/
.minestory {
    background-color: rgb(33, 32, 32);
    min-height: 900px;
    margin: 20px;
    padding: 20px;
}
.minestory h1 {
    color: silver;
}
.minestory p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}
.minestory img {
    height: auto;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*-------------------------------------------------------------------------*/





/*--------Parte do cobalt-----------------------------------------------------*/
.cobalt {
    background-color: rgb(33, 32, 32);
    min-height: 400px;
    margin: 20px;
    padding: 20px;
}
.cobalt h1 {
    color: silver;
}
.cobalt p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}
.cobalt img {
    height: auto;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------------*/





/*-------------------------Parte Crown and Council-----------------------------------------------*/
.crown {
    background-color: rgb(33, 32, 32);
    min-height: 400px;
    margin: 20px;
    padding: 20px;
}
.crown h1 {
    color: silver;
}
.crown p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}
.crown img {
    height: 400px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------------------------------------------------------------*/





/*-----------------------------------Parte Minecraft Earth---------------------------------------------*/

.earth {
    background-color: rgb(33, 32, 32);
    min-height: 400px;
    margin: 20px;
    padding: 20px;
}
.earth h1 {
    color: silver;
}
.earth p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}
.earth img {
    height: 450px;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------------------------------*/





/*-------------------------------Parte Minecraft Dungeons----------------------------------------------------*/

.dungeons {
    background-color: rgb(33, 32, 32);
    min-height: 400px;
    margin: 20px;
    padding: 20px;
}
.dungeons h1{
    color: silver;
}
.dungeons p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}
.dungeons img {
    height: auto;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------------------------------*/





/*-------------------------------Parte Minecraft Legends-------------------------------------------------------*/
.legends {
    background-color: rgb(33, 32, 32);
    min-height: 400px;
    margin: 20px;
    padding: 20px;
}
.legends h1 {
    color: silver;
}
.legends p {
    color: silver;
    text-align: justify;
    font-size: 20px;
}
.legends img {
    height: 600px;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}